.footer {
    background-color: #4e4741;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
}

.footerSection {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footerSectionAbout h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footerSectionLinks ul {
    list-style: none;
    padding: 0;
}

.footerSectionLinks li {
    margin-bottom: 8px;
}

.footerSectionLinks a {
    color: #fff;
    text-decoration: none;
}

.footerSectionLinks a:hover {
    color: #A6E3A1;
}

.footerSectionSocialMedia h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.socialIcons a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

.socialIcons a:hover {
    color: #A6E3A1;
}

.footerBottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #444;
    font-size: 14px;
    color: #aaa;
}
