.inputField {
    width: 95%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.cartPage {
    display: flex;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: #fff;
    color: #333;
}

.cartContainer {
    display: flex;
    width: 100%;
    padding: 40px;
    gap: 20px;
    box-sizing: border-box;
}

.cartItemsContainer {
    width: 70%;
    background: #fff;
}

.cartSummary {
    width: 30%;
    background: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cartSummary h2 {
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.summaryRow, .summaryRowTotal {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.summaryRowTotal {
    font-weight: bold;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.paymentSelect {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    margin-bottom: 5px;
}

.originalPrice {
    text-decoration: line-through;
    color: #888;
    font-size: 0.9rem;
  }
  
  .discountedPrice {
    color: #e29128;
    font-weight: bold;
    font-size: 1.1rem;
  }

.checkoutButton {
    width: 100%;
    padding: 12px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.checkoutButton:hover {
    background: #000;
}

.cartItems {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cartItem {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    color: #333;
}

.itemImage img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.itemInfo {
    flex: 1;
    margin-left: 20px;
}

.itemInfo h2 {
    font-size: 18px;
    margin: 0 0 5px;
    color: #333;
}

.quantity {
    margin-top: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.editButtons button {
    margin: 0px 5px 0px 5px;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.editButtons button:hover {
    background-color: #000;
}

.editButton, .confirmButton, .cancelButton {
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}

.confirmButton {
    background: #444;
}

.cancelButton {
    background: #999;
}

.editButton:hover {
    background: #000;
}
.confirmButton:hover {
    background: #222;
}
.cancelButton:hover {
    background: #666;
}

.actionButtons {
    display: flex;
    gap: 10px;
    margin-top: 0px;
}

.cardInfoForm {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.expiryCvvRow {
    display: flex;
    gap: 10px;
}

.inputField {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.inputFieldHalf {
    padding: 10px;
    font-size: 16px;
    width: 50%;
    box-sizing: border-box;
}


.qrCodeContainer {
    text-align: center;
    margin-top: 20px;
}

.qrCodeImage {
    max-width: 200px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
}
