/* ManageCustomersPage.module.css */
.container {
    padding: 20px;
    background-color: #f4f7fc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1200px; /* Điều chỉnh độ rộng của dashboard */
    margin: 0 auto;
}

.heading {
    font-size: 24px;
    font-weight: bold;
    color: darkblue;
    margin-bottom: 20px;
}

.searchBox {
    position: relative;
    display: flex;
    align-items: center;
}

.searchInput {
    padding: 8px 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.searchIcon {
    position: absolute;
    right: 10px;
    font-size: 18px;
    color: #888;
}

.errorMessage {
    color: #d9534f;
    background-color: #f2dede;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Style cho các hàng trong bảng */
.table tr:nth-child(odd) {
    background-color: #CFEBFC;  /* Màu nền cho hàng lẻ */
}

.table tr:nth-child(even) {
    background-color: #ffffff;  /* Màu nền cho hàng chẵn */
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.table th {
    background-color: darkblue;
    color: white;
    font-weight: bold;
}

.errorMessage {
    color: red;
    margin-bottom: 10px;
}

.table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.table img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.searchInput:focus {
    border-color: darkblue;
}

.thumbnail {
    max-width: 100px;        
    height: auto;            
    margin: 0 auto;          
    display: block;          
}